<h4 class="font-weight-bold">Product Details</h4>
<hr>
<h1 *ngIf="!product" class="text-warning">Please wait while loading...</h1>
<div *ngIf="product" class="row">

    <div class="col-md-4">
        <img class="img img-thumbnail rounded" src="assets/images/{{product.image}}" [alt]="product.name" [title]="product.name">
    </div>

    <div class="col-md-8">
        <h3 class="text-success font-weight-bold font-italic">{{ product.name }}
            <span class="badge badge-pill badge-warning float-right">{{ product.price | currency:'TND'}}</span>
        </h3>
        <h4><b>Description</b>: {{ product.description }}</h4>
    </div>
</div>

<div *ngIf="product" class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
        <button (click)='goBack()' class="btn btn-primary float-right"><i class="fas fa-arrow-left"></i>&nbsp;Back</button>
    </div>

</div>